body{
    background-color: #F4E9DA;
}

div ul li input {
    height: 25px;
    border:2px solid;
    width:100px;
    font-family:sans-serif;
    font-size:20px;
    text-align:right;
}


.metadata{
    width: 53%;
    display:block;
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom: 10px;
}

/* Header */

.page-header {
    background-color: #F4E9DA;
    margin-top: 0;
    padding: 20px 20px 20px 30px;
    font-size: 75px;
    text-transform:uppercase;
    color:#273253;
    font-family: BerlinSansDemi;
    letter-spacing: 25px;
    text-align:center;
    margin-bottom:0;
    margin-top:-20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #57B5ED;
    font-size: 36pt;
    text-decoration: none;
    font-size:50px;
    text-align:center;
    letter-spacing:7px;
    line-height:normal;
    margin-top:-10px;
}


h1, h2, h3, h4, h5, h6
{
    color: #273253;
}



.culture-link{
    color: #57B5ED;
}

/* Content wrapper */

#wrap{  
    width:1000px;
    margin:auto;
    min-height:100%;
    position:relative;
}

* html #wrap{ height: 100% }

.content {
    width:1000px;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

#content {
    padding-bottom:80px;
    display:inline-block;
    display:block;

}


#content:after {
    clear:both;
}

li{
    font-family: 'Lato', sans-serif;
}

/* Header CSS*/
.logo-container {
    text-transform:uppercase;
    font-family:sans-serif;
    margin-top:15px;
    width:35%;
    margin-bottom:15px;
    float:left;
}

.logo-container img {
    margin-top:10px;
}

.logo-text {
    float:right;
    margin-top:10px;
}

.header-img{
    float:left;
}

.logo-title {
    font-family:sans-serif;
    text-transform:uppercase;
    color:#273253;
    letter-spacing:8.5px;
    font-size:50px;
    height: 35px;
}

.introduction {
    margin-bottom: 70px;
}

.introduction h2 a, .introduction h2 a:visited {
    color: #57B5ED;
}

/* Navigation banner */

.sidebar-nav ul li form input {
    text-align:right;
    background-color:#273253;
    padding:2px;
    border:2px solid;
    border-color:#273253;
    color:#273253;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    width:100%;
}

.sidebar-nav {
    clear:both;
    font-size:22px;
    font-family: 'Lato', sans-serif;
    letter-spacing:0.7px;
}

.sidebar-nav ul {
    width:100%;
    display: table;
    margin-left:-40px;
}

.sidebar-nav ul li {
    display:table-cell;
    padding:2px;
    width:1.5%;
    text-align:center;
}


.sidebar-nav ul li a {
    font-size: 20px;
    color:#273253;
    text-decoration:none;
}
.sidebar-nav ul .active a{
    color: #273253;
}

.table-container{
    width:100%;
}

.alphabets {
    width:102%
}

.sidebar-nav , .alphabets{
    clear:both;
    font-size:22px;
    letter-spacing:0.7px;
}

.sidebar-nav ul, .alphabets ul {
    width:100%;
    display: table;
    margin-left:-40px;
}

#home{
    text-align:left;
    width:33%;
}

#about{
    text-align:right;
    width:33%;
}

#language{
    text-align:center;
    width:33%;
}

.sidebar-nav ul li, .alphabets ul li {
    display:table-cell;
    padding:2px;
    width:1.5%;
    text-align:left;
}
.alphabets ul li a {
    font-size:22px;
    color:#003366;
    font-family:BerlinSansDemi;
}

/* Map */

#map {
    height:450px;
    font-family:BerlinSansDemi;
    cursor: pointer;
    font-size:12px;
}

#map_detail{
    height:200px;
    font-family:BerlinSansDemi;
    cursor: pointer;
    font-size:12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bigfamily{
    width: 95%;    
}
