.homelogo-container{
	width: 53%;
	display:block;
	margin-left:auto; 
	margin-right:auto; 
}

.logo-img{
	float: left;
}

.home-content{
	width: 63%;
	display:block;
	margin-left:auto; 
	margin-right:auto; 

}

.header-img{
	align-content: right;
}


#home-text{
	/*text-align: center;
	margin-left:auto; 
	margin-right:auto; 
	display:inline-block;
	width: 100%;*/
	float:right;
}

#kinshipdiagram{
	margin-left:auto; 
	margin-right:auto; 
	display:block;

}

.subtitle {
	width: 100%;
	text-align: center;
	display:block;
	font-size:23px;
	text-transform:uppercase;
	color:#757575;
	letter-spacing:1.5px;
	margin-top:15px;
	margin-left:-23px;
	clear:both
}

.description {
	text-align: center;
	display:block;
	font-size:15px;
	color:#757575;
	letter-spacing:1.5px;
	margin-top:15px;
	margin-left:-23px;
}

/* Family trees */

.familytree{
    max-width: 95%;
}