{% load static %}

<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WT1MHC62BM"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-WT1MHC62BM');
        </script>

        <title>Kinbank</title>
        
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" shape-rendering="crispEdges" href="{% static 'img/favicon.ico' %}"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        
        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        
        <!-- My CSS -->
        <link rel="stylesheet" href="{% static 'css/kb.css' %}">

        <!-- Javascript -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/OpenLayers.js" %}"></script>
        <script src="{% static "js/FeaturePopups.js" %}"></script>
        <script src="{% static "js/culture_detail.js" %}"></script>
        <script src="{% static "js/compare_cultures.js" %}"> </script>
        <script src="{% static "js/select2.js" %}"></script>
        <script src="{% static "js/select2.min.js" %}"></script>
        <script src="{% static "js/jquery.autosize.js" %}"></script>
        <script src="{% static "js/jquery.autosize.min.js" %}"></script>

        {% block extrahead %}

        <!-- Extra head goes here -->

        {% endblock %}

    </head>



<body>
<div id="wrap">
  <div class="page-header">

{% block logo %}

  <!-- This is to remove the logo in the home page -->

    <div class="logo-container">
      <div class = "header-img">
        <img src="{% static "img/logo-header.png" %}" height="57" />
      </div>
      <div class="logo-text">
        <div class="logo-title">KinBank</div>
      </div>
    </div>

{% endblock %}
    
    
    <div class="sidebar-nav">
      <ul>
          <li id="home">
              <a href="/">Home</a>
          </li>
          <li id="language">
              <a href="/languages/">Languages</a>
          </li>
          <li id="about">
              <a href="/about">About</a>
          </li>
      </div>
    </div>
  

    <div class="content" id="content">
        <div class="row">
            <div class="col-md">
            {% block content %}

            <!-- other code will be imported here -->

            {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>