{% extends 'kb/base.html' %}
{% load render_table from django_tables2 %}

{% load static %}


{% block extrahead %}

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

	<!-- Style sheets  -->
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
	<link rel="stylesheet" href="{% static 'css/detail.css' %}">
	<link rel="stylesheet" href="{% static 'css/button_toggle.css' %}">
	<!-- <script type="text/javascript" src="{% static 'js/about.js' %}"></script> -->

	<!-- Map script -->
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
	
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   	crossorigin=""></script>

	<script type='text/javascript' src="{% static 'js/maps.js' %}"></script>

	<!-- Tabulator code -->
	<link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
	

	<script type="text/javascript" src="{% static 'js/fillKinshipDiagram.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/kinterm_table.js' %}"></script>
	<script type="text/javascript">
			var grandparents 	= {{ grandparents|safe }};
			var parents 		= {{ parents|safe }};
			var nuclear 		= {{ nuclear|safe }};
			var children 		= {{ children|safe }};
			var cousin 			= {{ cousin|safe }};

			var all_table 			= {{ all|safe }}
			
			window.onload = function() {
				fill_diagram(grandparents, 'grandparents');
				fill_diagram(parents, 'parents');
				fill_diagram(nuclear, 'nuclear');
				fill_diagram(children, 'children');
				fill_diagram(cousin, 'cousin');				
			};
	</script>

{% endblock %}

{% block content %}

<style type="text/css">
	.adjust_table{
	padding-left: 25px;
    padding-right: 25px;
    width: 100%;
	}
	.adjust_switch_button{
		padding: 15px 0;
    display: block;
    user-select: none;
    background: rgba(255, 255, 255, 0.56);
    overflow: hidden;
    width: 120px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color: #155FFF;
	}
</style>

<!-- Top section: Language metadata -->
<div>
<div>
 <div class="row" style="margin-bottom: 10px; text-align:justify;
	margin-bottom:30px;
	margin-left:20px;
	margin-right:40px;">
   <div class="col-xs-7 metadata">
			<h1> {{metadata.name}} </h1>

			<h3>Glottocode: {{metadata.glottocode}}</h3>

			<h3>Language family: {{metadata.family}}</h3>

			<h3>Database: {{metadata.set}}</h3>
	</div>
    <div class="col-xs-5" style="float:right;margin-right:0%;">
		<div id="map_detail"></div>
			<script type="text/javascript">
					detail_map({{metadata.latitude}}, {{metadata.longitude}});
			</script>
		</div>
 	</div>
</div>

 <div class="row" style="margin-bottom: 20px; text-align:justify;
 margin-bottom:20px;
 margin-left:20px;
 margin-right:40px;">
	<form method="get">
	<div id="color-switch" class="btn-group" data-toggle="buttons" style="width: 50%; float: left;">

		<label class="btn btn-default adjust_switch_button {% if ego == 'm' %} active {% endif %}" style="    border-radius: 30px 0 0px 30px;">
				<input type="radio" name="ego" id="green" value="m"/> Male Ego
		</label>
		<label class="btn btn-default adjust_switch_button {% if ego == 'f' %} active {% endif %}" style="    border-radius: 0 30px 30px 0;">
				<input type="radio"  name="ego" id="blue" value="f"/> Female Ego
		</label>

	</form>

	<script type="text/javascript">
		$('#color-switch').on('change', 'input', function() {
			$("form").submit()
	});
	</script>	
	</div>

	<div style="float: right;">
		<a href="{% static 'img/diagrams/glossary.svg' %}" 
		target="popup" 
		onclick="window.open('{% static 'img/diagrams/glossary.svg' %}','popup','width=700,height=5ç00,background-color=#F4E9DA'); return false;">
		<h3>Glossary</h3>
		</a>
	</div>
</div>
</div>

 <!-- Bottom section: Start of Data detail  -->
<div>
<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; margin-bottom: 10px; width:95%">
Grandparents
<a id="grandparents-box" class="expand-button" href=""></a>
</div>
	<object type="image/svg+xml" data="{% if ego == 'm' %} {% static 'img/diagrams/grandparents.svg' %} {% elif ego == 'f' %} {% static 'img/diagrams/grandparents_female.svg' %} {% endif %} " id="grandparents" class = "center" style = "height: 250px"></object>
	<div id="grandparent-table" class = "center"></div>
<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; margin-bottom: 10px; width:95%">
Parent's and Parent's siblings
<a id="parents-box" class="expand-button" href=""></a>
</div>
	<object type="image/svg+xml" data="{% if ego == 'm' %}  {% static 'img/diagrams/parents_siblings.svg' %} {% elif ego == 'f' %} {% static 'img/diagrams/parents_siblings_female.svg' %} {% endif %}" id="parents" class = "center" style="margin: 20px; width:91%; height: 200px"></object>
	<div id="parent-table" class = "center"></div>
<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; margin-bottom: 10px; width:95%">
Nuclear family
<a id="nuclear-box" class="expand-button" href=""></a>
</div>
	<object type="image/svg+xml" data="{% if ego == 'm' %} {% static 'img/diagrams/nuclear_diagram.svg' %} {% elif ego == 'f' %} {% static 'img/diagrams/nuclear_diagram_female.svg' %} {% endif %}" id="nuclear" class = "center" style = "height: 250px"></object>
	<div id="nuclear-table" class = "center"></div>
<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; margin-bottom: 10px; width:95%">
Siblings and Cousins
<a id="cousin-box" class="expand-button" href=""></a>
</div>
	<object type="image/svg+xml" data="{% if ego == 'm' %} {% static 'img/diagrams/cousin_siblings.svg' %} {% elif ego == 'f' %} {% static 'img/diagrams/cousin_siblings_female.svg' %} {% endif %}" id="cousin" class = "center" style="margin: 20px; width:91%"></object>
	<div id="cousin-table" class = "center"></div>
<div class="divider"></div>


<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; margin-bottom: 10px; width:95%">
Children and Niblings
<a id="children-box" class="expand-button" href=""></a>
</div>
	<object type="image/svg+xml" data="{% if ego == 'm' %} {% static 'img/diagrams/children.svg' %} {% elif ego == 'f' %} {% static 'img/diagrams/children_female.svg' %} {% endif %} " id="children" class = "center" style = "height: 250px"></object>
	<div id="second-table" class = "center"></div>
<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; margin-bottom: 10px; width:95%">
	Grandchildren
	<a id="children-box" class="expand-button" href=""></a>
	</div>
		<object type="image/svg+xml" data="{% if ego == 'm' %} {% static 'img/diagrams/children.svg' %} {% elif ego == 'f' %} {% static 'img/diagrams/children_female.svg' %} {% endif %} " id="children" class = "center" style = "height: 250px"></object>
		<div id="second-table" class = "center"></div>
	<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; margin-bottom: 10px; width:95%">
	All Kinterms
	<a id="all-box" class="expand-button" href=""></a>
</div>
	<div id="example-table" class = "center"></div>
		<script>
			fill_table(all_table, "#example-table");
		</script>
</div>

<div class="divider"></div>

{% endblock %}