{% extends 'kb/base.html' %}

{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
      
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>

<!-- Table Javascript & CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />

<script type="text/javascript">    
  $(document).ready( function () {
      $('#cults').DataTable();
  } );
</script>
{% endblock %}



{% block content %}

<div id="map"></div>

<!-- <script type='text/javascript' src="{% static "js/jquery.js" %}"></script> -->
<script type='text/javascript' src="{% static 'js/maps.js' %}"></script>
<script type="text/javascript">
      console.log(4 + 10);
      var coordinates = JSON.parse("{{latlong|escapejs}}");
      window.onload = function() {
        main(coordinates);
      };
</script>



<div class = "alphabets">
    <ul class = "sortCultures">
      <li><a href="#A">A</a></li>
        <li><a href="#B">B</a></li>
        <li><a href="#C">C</a></li>
        <li><a href="#D">D</a></li>
        <li><a href="#E">E</a></li>
        <li><a href="#F">F</a></li>
        <li><a href="#G">G</a></li>
        <li><a href="#H">H</a></li>
        <li><a href="#I">I</a></li>
        <li><a href="#J">J</a></li>
        <li><a href="#K">K</a></li>
        <li><a href="#L">L</a></li>
        <li><a href="#M">M</a></li>
        <li><a href="#N">N</a></li>
        <li><a href="#O">O</a></li>
        <li><a href="#P">P</a></li>
        <li><a href="#Q">Q</a></li>
        <li><a href="#R">R</a></li>
        <li><a href="#S">S</a></li>
        <li><a href="#T">T</a></li>
        <li><a href="#U">U</a></li>
        <li><a href="#V">V</a></li>
        <li><a href="#W">W</a></li>
        <li><a href="#X">X</a></li>
        <li><a href="#Y">Y</a></li>
        <li><a href="#Z">Z</a></li>
	</ul>
</div>	


<table id="cults" class="display">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
	{% for key, value in ethonyms.items %}
	  <tr id="{{key}}" class="letter-title"><td>{{key}}</td></tr>
	  	{% for v in value %}
	 		{% if v %}
	  			<tr><td><a class="culture-link" href="{{v.glottocode}}">{{v.culture}}</a></td></tr>
	  		{% elif value %}
	  			<tr class="empty"></tr>
	  		{% endif %}
	  	{% endfor %}
	  {% endfor %}
  </tbody>
 </table>


 <table id="table_id" class="display">
  <thead>
      <tr>
          <th>Column 1</th>
          <th>Column 2</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Row 1 Data 1</td>
          <td>Row 1 Data 2</td>
      </tr>
      <tr>
          <td>Row 2 Data 1</td>
          <td>Row 2 Data 2</td>
      </tr>
  </tbody>
</table>

{% endblock %}
