{% extends 'kb/base.html' %}
{% load render_table from django_tables2 %}

{% load static %}


{% block extrahead %}

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

	<!-- Style sheets  -->
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
	<link rel="stylesheet" href="{% static 'css/detail.css' %}">
	<link rel="stylesheet" href="{% static 'css/button_toggle.css' %}">
	<!-- <script type="text/javascript" src="{% static 'js/about.js' %}"></script> -->

	<!-- Map script -->
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
	
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   	crossorigin=""></script>

	<script type='text/javascript' src="{% static 'js/maps.js' %}"></script>

	<!-- Tabulator code -->
	<link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
	

	<script type="text/javascript" src="{% static 'js/fillKinshipDiagram.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/kinterm_table.js' %}"></script>
	<script type="text/javascript">
			var grandparents 	= {{ grandparents|safe }};
			var parents 		= {{ parents|safe }};
			var nuclear 		= {{ parents|safe }};
			var children 		= {{ children|safe }};
			var cousin 			= {{ cousin|safe }};

			var all_table 			= {{ all|safe }}
			var grandparents_table 	= {{ grandparents_table|safe }}
			var parents_table		= {{ parents_table|safe }}
			var nuclear_table		= {{ nuclear_table|safe }}
			var cousin_table		= {{ cousin_table|safe }}
			var children_table 		= {{ children_table|safe }}
			
			window.onload = function() {
				fill_diagram(grandparents, 'grandparents');
				fill_diagram(parents, 'parents');
				fill_diagram(nuclear, 'nuclear');
				fill_diagram(children, 'children');
				fill_diagram(cousin, 'cousin');				
			};
	</script>

{% endblock %}

{% block content %}


 <div class="row" style="margin-bottom: 10px; text-align:justify;
	margin-bottom:30px;
	margin-left:20px;
	margin-right:40px;">
   <div class="col-xs-7 metadata">
			<h1> {{metadata.name}} </h1>

			<h3>{{metadata.glottocode}}</h3>

			<h3>{{metadata.family}}</h3>
	</div>
    <div class="col-xs-5">
	<div id="map_detail"></div>
		<script type="text/javascript">
		        detail_map({{metadata.latitude}}, {{metadata.longitude}});
		</script>
   </div>
   
 </div>

 <label class="switch">
	<input type="checkbox" id="togBtn">
	<div class="slider round"></div>
	</label>

<div class="switch-button" style="margin-left:20px; margin-right:20px; margin-bottom: 20px;">
	<input class="switch-button-checkbox" type="checkbox"></input>
	<label class="switch-button-label" for="">
		<span class="switch-button-label-span">Male Ego</span>
	</label>
</div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; width:95%">
Grandparents
<a id="grandparents-box" class="expand-button" href="">+</a>
</div>
<div class="data-table" id="grandparents-box-table">
	<object type="image/svg+xml" data="{% static "img/diagrams/grandparents.svg" %}" id="grandparents" class = "center" style = "height: 250px"></object>
	<div id="grandparent-table" class = "center"></div>
	<script>
		fill_table(grandparents_table, "#grandparent-table");
	</script>
</div>
<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; width:95%">
Parent's and Parent's siblings
<a id="parents-box" class="expand-button" href="">+</a>
</div>
<div class="data-table" id="parents-box-table">
		<object type="image/svg+xml" data="{% static "img/diagrams/parents_siblings.svg" %}" id="parents" class = "center" style="margin: 20px; width:91%; height: 200px"></object>
		<div id="parent-table" class = "center"></div>
		<script>
			fill_table(parents_table, "#parent-table");
		</script>
</div>
<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; width:95%">
Nuclear family
<a id="nuclear-box" class="expand-button" href="">+</a>
</div>
<div class="data-table" id="nuclear-box-table">
		<object type="image/svg+xml" data="{% static "img/diagrams/nuclear_diagram.svg" %}" id="nuclear" class = "center" style = "height: 250px"></object>
		<div id="nuclear-table" class = "center"></div>
		<script>
			fill_table(nuclear_table, "#nuclear-table");
		</script>
</div>
<div class="divider"></div>

<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; width:95%">
Siblings and Cousins
<a id="cousin-box" class="expand-button" href="">+</a>
</div>
<div class="data-table" id="cousin-box-table">
		<object type="image/svg+xml" data="{% static "img/diagrams/cousin_siblings.svg" %}" id="cousin" class = "center" style="margin: 20px; width:91%"></object>
		<div id="cousin-table" class = "center"></div>
		<script>
			fill_table(cousin_table, "#cousin-table");
		</script>
</div>
<div class="divider"></div>


<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; width:95%">
Children and Niblings
<a id="children-box" class="expand-button" href="">+</a>
</div>
<div class="data-table" id="children-box-table">
		<object type="image/svg+xml" data="{% static "img/diagrams/children.svg" %}" id="children" class = "center" style = "height: 250px"></object>
		<div id="second-table" class = "center"></div>
		<script>
			fill_table(children_table, "#second-table");
		</script>
</div>


<div class="divider"></div>


<div id="table-title" class="table-title" style="margin-left:20px; margin-right:20px; width:95%">
	All Kinterms
	<a id="all-box" class="expand-button" href="">+</a>
</div>
<div class="data-table" id="all-box-table">
		<div id="example-table" class = "center"></div>
			<script>
				fill_table(all_table, "#example-table");
			</script>
</div>

<div class="divider"></div>

{% endblock %}