{% extends 'kb/base.html' %}
{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<script type="text/javascript" src="{% static "js/about.js" %}"></script>

{% endblock %}


{% block content %}



<div id="aboutText">
Kinbank is a database of kinship terminologies to be used for exploring cross-linguistic diversity in kinship organisation and how that relates to behaviour. The database includes {{ n_languages }} languages and a set of 100 core kin types between Grandparents and Grandchildren, and between Parent's siblings, and Parent's siblings’ children. A major advantage of Kinbank is the focused language family sampling and sampling based on occurrence in existing anthropological databases (e.g. <a href"www.dplace.org">d-place.org</a>, allowing us to test the relationship between languages and behaviour. This allows the use of phylogenetic methods to reconstruct the states of proto-kinship, account for common ancestry in models of kinship change, and test for correlated evolution between linguistic and behavioural patterns.
</div>

<div class="divider"></div>


<div id="table-title" class="table-title" class="container text-right">
Database Content
<a id="database-content" class="expand-button" href="">+</a>
</div>
<div class="data-table" id="database-content-table">
<p>Languages</p>
[Write about the sampling]
<p>Parameters</p>
[Justify genealogical grid approach]
<p>Further Information</p>
If you would like more information, or are interested in contributing to the database please visit our <a href="">contact page</a>.  
</div>
<div class="divider"></div>


<div id="table-title" class="table-title">
The Team
<a id="the-team" class="expand-button" href="">+</a>
</div>
<div id="the-team-table" class="data-table">


<table class="teamPhotos">
	{% for value in about %}
		<div class = "row">
		<tr>
		{% if value.img != None %}
			<td style="width:10px;"> <img class="teamPhoto" src="{% static 'img/TeamPhotos/' %}{{ value.img }}"></td>
		{% endif %}
		<td class="person"> {{ value.name }} <br>
		<div class="personDescription">
		<em class="shortDesc">{{ value.position }}</em>
		</div>
		</td>
		<td style="text-align:right; font-weight:normal;">
		{% if value.webpage != None %}
			<a href="{{ value.webpage }}" target="blank">Website</a>
		{% endif %}
		{% if value.email != None %}
			<br><a href="mailto:{{ value.email }}">Email</a>
		{% endif %}
		{% if value.twitter != None %}
			<br><a href="https://twitter.com/{{ value.twitter }}">@{{ value.twitter }}</a>
		{% endif %}
		</td>
		</tr>
		</div>
	{% endfor %}
</table>
</div>

<div class="divider"></div>

<div id = "table-title" class="table-title">
Funding and Affiliations
<a id="funding" class="expand-button" href="">+</a>
</div>
<div id="funding-table" class="data-table">
<p>Funding</p>
Kinbank was constructed thanks to funding from the European Research Council and [other grants]

{% endblock %}

